<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ recipe.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="https://via.placeholder.com/30" alt="Logo" class="d-inline-block align-top">
            Logo
        </a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
                <input class="form-control mr-sm-2" type="search" name ="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
            </form>
            <div class="dropdown ml-2">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-person"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item disabled"> Ciao {{ user.username }}! </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'profilo' %}">Il mio Account</a>
                        <a class="dropdown-item" href="{% url 'crea' %}"> + Aggiungi ricetta</a>
                        <a class="dropdown-item" href="{% url 'ricette_salvate' %}">Ricette salvate</a>
                        <a class="dropdown-item" href="{% url 'ricerca_utente' %}">Ricerca Utenti</a>
                        <a class="dropdown-item" href="{% url 'esci' %}">Esci</a>
                </div>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'mylogin' %}">Accedi</a>
                        <a class="dropdown-item" href="{% url 'signin' %}">Registrati</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'mylogin' %}">Il mio Account</a>
                        <a class="dropdown-item" href="{% url 'mylogin' %}"> + Aggiungi ricetta</a>
                    {% endif %}
                </div>
            </div>
    </nav>


    <div class="container">
        <h1 class="my-4">{{ recipe.title }}</h1>
        <h6>{{recipe.category}}</h6>
        {% if user.is_authenticated %}
            {% if recipe.user.username != user.username%}
            <h6 class="text-secondary">{{recipe.user}}</h6>
            {% endif %}
        {% else %}
            <h6>{{recipe.user}}</h6>
        {% endif %}
        {% if recipe.photo %}
            <img src=" {{ recipe.photo.url }} " class="img-fluid rounded-start my-3" alt="foto ricetta" style="max-height: 300px; width: auto">
        {% else %}
            <img src="{% static 'images/defaultrecipe.jpg' %}" class="img-fluid rounded-start my-3" alt="foto ricetta">
        {% endif %}
        <h3>Ingredienti:</h3>
        <p>{{ recipe.ingredients }}</p>
        <h3>Tempo di preparazione:</h3>
        <p>{{ recipe.preparationtime }}</p>
        <h3>Istruzioni:</h3>
        <p>{{ recipe.instructions }}</p>
        <div class="row ">
         {% if user.is_authenticated %}
            {% if recipe.user.username != user.username%}

                <button id="toggle-save-recipe-button" class="btn btn-light my-4 mx-2" data-recipe-id="{{ recipe.id }}">
                    <i class="bi bi-bookmark-heart"></i>
                </button>
                <div class="mt-3" id="message-container"></div>

            {% else %}
                <a href="{% url 'modifica_ricetta' recipe.id %}" class="btn btn-primary my-4 mx-2">Modifica Ricetta</a>
                <a class="btn btn-danger my-4 mx-2" onclick="confirmDelete();">Elimina Ricetta</a>

                <form id="delete-form" action="{% url 'delete_recipe' recipe.id %}" method="post" style="display:none;">
                {% csrf_token %}
                </form>
            {% endif %}
         {% else%}
            <p class="text-danger mx-3"><a class="text-danger" href="{% url 'mylogin' %}">Accedi </a> per salvare la ricetta</p>
         {% endif %}



         </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
        function confirmDelete() {
            if (confirm("Are you sure you want to delete this recipe?")) {
                document.getElementById('delete-form').submit();
            }
        }
    </script>

<script>
document.getElementById('toggle-save-recipe-button').addEventListener('click', function() {
    const recipeId = this.getAttribute('data-recipe-id');
    fetch(`/toggle-save-recipe/${recipeId}/`, {
        method: 'GET',
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.json())
    .then(data => {
        const messageContainer = document.getElementById('message-container');
        messageContainer.innerHTML = `<div class="alert alert-info text-black" role="alert">${data.message}</div>`;

    });
});
</script>

</body>
</html>
