<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light justify-content-center">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="https://via.placeholder.com/30" alt="Logo" class="d-inline-block align-top">
            Logo
        </a>
    </nav>



    <!-- signin Form -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Registrati</h2>
                {% if messages %}
                    {% for message in messages %}
                        <p class="my-2" style="color: darkred">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <form method="post" action="{% url 'registra' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Inserisci username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Inserisci password" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Ripeti Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Inserisci nuovamente password" required>
                    </div>
                    <div class="form-group">
                        <label for="profile_image">Immagine Profilo:</label>
                        <input type="file" class="form-control-file" id="profile_image" name="profile_image"><br>
                    </div>

                  <!--METTI UNA COSA PER L'IMMAGINE OOPURE METTI DOPO? -->
                    <button type="submit" class="btn btn-primary btn-block">Registrati</button>
                </form>
                <p class="my-3">Sei già registrato? <a href="{% url 'mylogin' %}">Accedi qui</a></p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>