<!DOCTYPE html>
{% load static %}
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="https://via.placeholder.com/30" alt="Logo" class="d-inline-block align-top">
            Logo
        </a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <div class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false" id="CategoryDropdown">
                    Categorie
                  </div>
                  <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="CategoryDropdown">
                    <li><a class="dropdown-item" href="{% url 'antipasti' %}">Antipasti</a></li>
                    <li><a class="dropdown-item" href="{% url 'primi' %}">Primi</a></li>
                    <li><a class="dropdown-item" href="{% url 'secondi' %}">Secondi</a></li>
                    <li><a class="dropdown-item" href="{% url 'contorni' %}">Contorni</a></li>
                    <li><a class="dropdown-item" href="{% url 'dolci' %}">Dolci</a></li>

                  </ul>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
                <input class="form-control mr-sm-2" type="search" name ="q" placeholder="Esplora le Ricette" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
            </form>
            <div class="dropdown ml-2">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-person"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item disabled"> Ciao {{ user.username }}! </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'profilo' %}">Il mio Account</a>
                        <a class="dropdown-item" href="{% url 'crea' %}"> + Aggiungi ricetta</a>
                        <a class="dropdown-item" href="{% url 'ricette_salvate' %}">Ricette salvate</a>
                        <a class="dropdown-item" href="{% url 'ricerca_utente' %}">Ricerca Utenti</a>
                        <a class="dropdown-item" href="{% url 'esci' %}">Esci</a>
                </div>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'mylogin' %}">Accedi</a>
                        <a class="dropdown-item" href="{% url 'signin' %}">Registrati</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'mylogin' %}">Il mio Account</a>
                        <a class="dropdown-item" href="{% url 'ricerca_utente' %}">Ricerca Utenti</a>
                        <a class="dropdown-item" href="{% url 'mylogin' %}"> + Aggiungi ricetta</a>
                    {% endif %}
                </div>
            </div>
    </nav>

    <div class="container py-5">
        <div class="row">
                <h3 class="text-center mb-4">Risultati di ricerca per: "{{ query }}"</h3>
        </div>
        <div class="row">


            {% if query %}

                {% if results %}
                  {% for recipe in results %}
                   <div class="col-md-4 mb-4">
                        <div class="card mb-3" style="max-width: 400px;">
                            {% if recipe.photo %}
                            <img src=" {{ recipe.photo.url }} " class=" card-img-top rounded-start" alt="foto ricetta" style="max-height: 300px; overflow-y: hidden" >
                            {% else %}
                            <img src="{% static 'images/defaultrecipe.jpg' %}" class="card-img-top rounded-start" alt="foto ricetta" style="max-height: 300px; overflow-y: hidden">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.title }}</h5>
                                <p class="card-text">{{ recipe.ingredients|slice:":30" }}...</p>
                                <p class="card-text"><small class="text-body-secondary">{{recipe.user}}</small></p>
                                <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary">View Recipe</a>
                            </div>
                        </div>
                    </div>
                  {% endfor %}

              {% else %}
                <p class="text-danger">Non ci sono risultati. </p>
              {% endif %}
            {% else %}
              <p>Perfavore inserisci una parola da cercare.</p>
            {% endif %}

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
